@using CryptoMVC.Models
@model IEnumerable<Exam>
@{
    ViewBag.Title = "Exams";
}

<h2>@ViewBag.Title.</h2>
@Html.ActionLink("Go To Upload Exam", "Upload")
<div class="row">
    <div class="col-md-8">
        <section id="examsTable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Author</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    @if (User != null && User.IsInRole("Admin"))
                    {
                        <th>...</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var exam in Model)
                {
                    <tr>
                        <td>
                            <a href="Exam/Download?filePath=@exam.Id.ToString()&fileName=@exam.Name" target="_blank">@exam.Name</a>
                        </td>
                        <td>@exam.DocumentType.ToString()</td>
                        <td>@exam.ApplicationUser.UserName</td>
                        <td>@exam.StartTime</td>
                        <td>@exam.EndTime</td>
                        @if (User != null && User.IsInRole("Admin"))
                        {
                            <td>
                                @using (Html.BeginForm("Decrypt", "Exam", new { fileId = @exam.Id }, FormMethod.Post))
                                {
                                    <button type="submit" class="btn btn-primary">Decrypt</button>
                                }
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </section>
    </div>
</div>