@using CryptoMVC.Models
@model ExamEncryptionViewModel
@{
    ViewBag.Title = "Upload Exam";
}

<h2>@ViewBag.Title.</h2>
@Html.ActionLink("Go Back To Exams", "Index")
<div class="row">
    <div class="col-md-8">
        <section id="examData">
            @using (Html.BeginForm("Encrypt", "Exam", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.File, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input type="file" class="form-control max-width-100" name="File" placeholder="Select file..">
                        @Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Key, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Key, new { @class = "form-control max-width-100" })
                        @Html.ValidationMessageFor(m => m.Key, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedExamType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.SelectedExamType, Model.ExamTypes(User), new { @class = "form-control max-width-100" })
                        @Html.ValidationMessageFor(m => m.SelectedExamType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="input-group date datetimepicker">
                            @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control max-width-100" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <div class="input-group date datetimepicker">
                            @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control max-width-100" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.EndTime, "", new { @class = "text-danger" })
                        @if (Model.DateTimeErrorMessage != null)
                        {
                            <span class="field-validation-error text-danger">@Model.DateTimeErrorMessage</span>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Upload" class="btn btn-primary" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Cipher Text</label>
                    <div class="col-md-10">
                        <textarea class="form-control max-width-100" cols="20" id="CipherText" name="CipherText" readonly="readonly" rows="8">
                            @ViewBag.CipherText
                        </textarea>
                    </div>
                </div>
            }
        </section>
    </div>
</div>